@import "~office-ui-fabric-react/dist/sass/References.scss";

.myContainer {
  width: auto !important;

  .welcomeMessage {
    color: "[theme: themePrimary]" !important;
  }

  
}
:global {
  .myFixedClassName {    
    list-style: none !important;
  }
}